@import 'custom';
@import "~bootswatch/dist/solar/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/solar/bootswatch";


html{
  overflow-x: hidden
};
.page-footer{
    background: #222;
}
.dropdown-menu{
  a:hover{
    color:white;
    background-color: #23CEAF;
  }
}
.card-deck
{
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
}

.card{
  position: relative;
  overflow: hidden;
}
.card img{
  transition: all ls ease-in-out;
}
.card:hover img{
  transform: scale(1,2);
}


#one 
{
  text-align: center;
  
}
#two
{
  text-align: center;
  
}
#three 
{
  text-align: center;
}
#four
{
  text-align: center;
  
}
// #formm 
// {
//   text-align: center;
//   margin-top: 5px;
//   margin-bottom: 5px;
// }
#imp
{
    margin-left: 10px;
    
    margin-right: 10px;
    
}

.thumbnail {
  position: relative;
}

// .carousel-item.active,
// .carousel-item-next,
// .carousel-item-prev {
//   display: block;
// }

.carousel {
 margin-top: 4.3rem;    
}

.navbar {
  top:0px;
  z-index:10;
  background:#fff;
  width:100%;
}
